<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js" integrity="sha512-K5BohS7O5E+S/W8Vjx4TIfTZfxe9qFoRXlOXEAWJD7MmOXhvsSl2hJihqc0O8tlIfcjrIkQXiBjixV8jgon9Uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.css" integrity="sha512-Ax++m07N1ygXmTSeRlQZnB5leVSw9eDeHQZ2ltn7oln1U3d+6d+/u1JEZ/zY/tLtmmEL741jEnDUlmWttBPLOA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="chart-container">
  <h1>体重</h1>
  <div class="chart" id="weight"></div>
</div>
<div class="chart-container">
  <h1>黄疸</h1>
  <div class="chart" id="br"></div>
</div>
<script type="text/javascript">
  const locales = [{
    "name": "zh-cn",
    "options": {
      "months": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
      "shortMonths": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
      "days": ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
      "shortDays": ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
      "toolbar": { "exportToSVG": "下载 SVG", "exportToPNG": "下载 PNG", "exportToCSV": "下载 CSV", "menu": "菜单", "selection": "选择", "selectionZoom": "选择缩放", "zoomIn": "放大", "zoomOut": "缩小", "pan": "平移", "reset": "重置缩放" }
    }
  }]

  fetch('/data/br.json')
    .then((response) => response.json())
    .then((data) => {
      var brOptions = {
        chart: {
          locales: locales,
          defaultLocale: "zh-cn",
          type: 'line'
        },
        series: [
          {
            name: "面部",
            data: data.map((metric) => metric.values.face),
          },
          {
            name: "身体",
            data: data.map((metric) => metric.values.body),
          },
        ],
        stroke: {
          width: 3,
          curve: 'smooth'
        },
        xaxis: {
          type: "datetime",
          categories: data.map((metric) => metric.time),
        },
        annotations: {
          yaxis: [
            {
              y: 18,
              borderColor: "#CC3636",
              label: {
                borderColor: "#F57328",
                style: {
                  color: "#fff",
                  background: "#F57328",
                },
                text: "上限😱",
              },
            },
            {
              y: 7.5,
              borderColor: "#2FDB5D",
              offsetY: -20,
              label: {
                borderColor: "#2FDB5D",
                style: {
                  color: "#fff",
                  background: "#7ED930",
                },
                text: "健康👶(7.5)",
              },
            },
          ],
          points: [
            {
              x: new Date("2022-09-01T10:00:00").getTime(),
              y: 18,
              marker: {
                size: 2,
              },
              label: {
                borderColor: "#FF4560",
                text: "🧑‍⚕️医生建议外出就诊",
              },
            },
          ],
          xaxis: [
            {
              x: new Date("2022-09-02T08:00:00").getTime(),
              x2: new Date("2022-09-02T16:00:00").getTime(),
              borderColor: "#775DD0",
              fillColor: "blue",
              label: {
                text: "照蓝光1",
              },
            },
            {
              x: new Date("2022-09-03T08:00:00").getTime(),
              x2: new Date("2022-09-03T16:00:00").getTime(),
              borderColor: "#775DD0",
              fillColor: "blue",
              label: {
                text: "照蓝光2",
              },
            },
            {
              x: new Date("2022-09-04T08:00:00").getTime(),
              x2: new Date("2022-09-04T16:00:00").getTime(),
              borderColor: "#775DD0",
              fillColor: "blue",
              label: {
                text: "照蓝光3",
              },
            },
          ],
        },
      }
      let chart = new ApexCharts(document.querySelector("#br"), brOptions);
      chart.render();
    });
  fetch('/data/weight.json')
    .then((response) => response.json())
    .then((data) => {
      let options = {
        chart: {
          locales: locales,
          defaultLocale: "zh-cn",
          type: 'line'
        },
        stroke: {
          width: 4
        },
        series: [
          {
            name: "体重",
            data: data.map((metric) => metric.value),
          }
        ],
        forecastDataPoints: {
          count: 12
        },
        stroke: {
          width: 5,
          curve: 'smooth'
        },
        xaxis: {
          type: "datetime",
          tickAmount: 10,
          categories: data.map((metric) => metric.time),
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            gradientToColors: [ '#FDD835'],
            shadeIntensity: 1,
            type: 'horizontal',
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100, 100, 100]
          },
        },
        annotations: {
          points: [{
            x: new Date("2022-09-11T20:42:00").getTime(),
            y: 3090,
            marker: {
              size: 2,
            },
            label: {
              borderColor: "#FF4560",
              text: "第一次90ml🍼",
            },
          },
          {
            x: new Date("2022-09-25T07:33:00").getTime(),
            y: 3600,
            marker: {
              size: 2,
            },
            label: {
              borderColor: "#FF4560",
              text: "第30天🌕",
            },
          },
          {
            x: new Date("2022-09-28T11:00:00").getTime(),
            y: 3790,
            marker: {
              size: 2,
            },
            label: {
              borderColor: "#FF4560",
              text: "回家🏠",
            },
          }],
        }
      }
      let chart = new ApexCharts(document.querySelector("#weight"), options);
      chart.render();
    })
</script>
