<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="chart-container">
  <h2>体重</h2>
  <div class="chart" id="weight"></div>
</div>
<div class="chart-container">
  <h2>奶量</h2>
  <div class="chart" id="feeding"></div>
</div>
<div class="chart-container">
  <h2>黄疸</h2>
  <div class="chart" id="br"></div>
</div>

<script type="text/javascript">
  const locales = [{
    "name": "zh-cn",
    "options": {
      "months": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
      "shortMonths": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
      "days": ["星期天", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
      "shortDays": ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
      "toolbar": { "exportToSVG": "下载 SVG", "exportToPNG": "下载 PNG", "exportToCSV": "下载 CSV", "menu": "菜单", "selection": "选择", "selectionZoom": "选择缩放", "zoomIn": "放大", "zoomOut": "缩小", "pan": "平移", "reset": "重置缩放" }
    }
  }]
  const base = supabase.createClient(
    'https://tpfryrnbzljbbbkqzoxz.supabase.co',
    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwZnJ5cm5iemxqYmJia3F6b3h6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjM0ODI4MDksImV4cCI6MTk3OTA1ODgwOX0.JjjxFyTh_OhKTs-cd_Er3vwI9Mpd8ACAstrt3sIGENs'
  )
  base.from("arthur-br").select().order('record_at', { ascending: true })
    .then((response) => response.data)
    .then((data) => {
      var brOptions = {
        chart: {
          locales: locales,
          defaultLocale: "zh-cn",
          type: 'line'
        },
        series: [
          {
            name: "面部",
            data: data.map((metric) => metric.value_face),
          },
          {
            name: "身体",
            data: data.map((metric) => metric.value_body),
          },
        ],
        stroke: {
          width: 3,
          curve: 'smooth'
        },
        xaxis: {
          type: "datetime",
          categories: data.map((metric) => metric.record_at),
          labels: {
            datetimeUTC: false,
          }
        },
        annotations: {
          yaxis: [
            {
              y: 18,
              borderColor: "#CC3636",
              label: {
                borderColor: "#F57328",
                style: {
                  color: "#fff",
                  background: "#F57328",
                },
                text: "上限😱",
              },
            },
            {
              y: 7.5,
              borderColor: "#2FDB5D",
              label: {
                borderColor: "#2FDB5D",
                style: {
                  color: "#fff",
                  background: "#7ED930",
                },
                text: "健康👶(7.5)",
              },
            },
          ],
          points: data.filter(v => v.notes != null && v.notes != "").map(p => {
            return {
              x: new Date(p.record_at).getTime(),
              y: p.value_body,
              marker: {
                size: 2,
              },
              label: {
                borderColor: "#5BBCF0",
                text: p.notes,
              },
            }
          }),
          xaxis: [
            {
              x: new Date("2022-09-02T08:00:00").getTime(),
              x2: new Date("2022-09-02T16:00:00").getTime(),
              borderColor: "#775DD0",
              fillColor: "blue",
              label: {
                text: "照蓝光1",
              },
            },
            {
              x: new Date("2022-09-03T08:00:00").getTime(),
              x2: new Date("2022-09-03T16:00:00").getTime(),
              borderColor: "#775DD0",
              fillColor: "blue",
              label: {
                text: "照蓝光2",
              },
            },
            {
              x: new Date("2022-09-04T08:00:00").getTime(),
              x2: new Date("2022-09-04T16:00:00").getTime(),
              borderColor: "#775DD0",
              fillColor: "blue",
              label: {
                text: "照蓝光3",
              },
            },
          ],
        },
      }
      let chart = new ApexCharts(document.querySelector("#br"), brOptions);
      chart.render();
    })
  base.from("arthur-weight").select().order('record_at', { ascending: true })
    .then((response) => response.data)
    .then((data) => {
      let options = {
        chart: {
          locales: locales,
          defaultLocale: "zh-cn",
          type: 'line'
        },
        stroke: {
          width: 4
        },
        series: [
          {
            name: "体重",
            data: data.map((metric) => metric.value),
          }
        ],
        forecastDataPoints: {
          count: 6
        },
        stroke: {
          width: 5,
          curve: 'smooth'
        },
        xaxis: {
          type: "datetime",
          categories: data.map((metric) => metric.record_at),
          labels: {
            datetimeUTC: false,
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            gradientToColors: ['#FDD835'],
            shadeIntensity: 1,
            type: 'horizontal',
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100, 100, 100]
          },
        },
        annotations: {
          points: data.filter(v => v.notes != null && v.notes != "").map(p => {
            return {
              x: new Date(p.record_at).getTime(),
              y: p.value,
              marker: {
                size: 2,
              },
              label: {
                borderColor: "#5BBCF0",
                text: p.notes,
              },
            }
          }),
          yaxis: [
            {
              y: 3790,
              borderColor: "#CC3636",
              label: {
                borderColor: "#F57328",
                style: {
                  color: "#fff",
                  background: "#F57328",
                },
                text: "1㎏",
              },
            },
          ],
        }
      }
      let chart = new ApexCharts(document.querySelector("#weight"), options);
      chart.render();
    })
  base.from("arthur-feeding").select().order('record_at', { ascending: true })
    .then((response) => response.data)
    .then((data) => {
      data_by_date = data.reduce((groups, feed) => {
        const date = (new Date(feed.record_at)).toLocaleDateString("sv");
        if (!groups[date]) {
          groups[date] = {
            total: 0,
            max: 0
          };
        }
        groups[date].total += feed.value
        if (feed.value > groups[date].max) {
          groups[date].max = feed.value
        }
        return groups;
      })
      delete data_by_date.id
      delete data_by_date.created_at
      delete data_by_date.record_at
      delete data_by_date.value
      delete data_by_date.notes

      let options = {
        chart: {
          locales: locales,
          defaultLocale: "zh-cn",
          type: 'line',
          toolbar: {
            show: true
          }
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: [1]
        },
        series: [
          {
            name: "总量",
            type: 'bar',
            data: Object.values(data_by_date).map(d => d.total),
          },
          {
            name: "单次最多",
            type: 'line',
            data: Object.values(data_by_date).map(d => d.max),
          }
        ],
        stroke: {
          width: 3,
          curve: 'smooth'
        },
        xaxis: {
          type: "datetime",
          categories: Object.keys(data_by_date),
        },
        yaxis: [
          {
            axisTicks: {
              show: true
            },
            axisBorder: {
              show: true,
              color: "#FF1654"
            },
            labels: {
              style: {
                colors: "#FF1654"
              }
            },
            title: {
              text: "总量ml",
              style: {
                color: "#FF1654"
              }
            }
          },
          {
            opposite: true,
            axisTicks: {
              show: true
            },
            axisBorder: {
              show: true,
              color: "#247BA0"
            },
            labels: {
              style: {
                colors: "#247BA0"
              }
            },
            title: {
              text: "单次最多ml",
              style: {
                color: "#247BA0"
              }
            }
          }
        ],
      }
      let chart = new ApexCharts(document.querySelector("#feeding"), options);
      chart.render();
    })

</script>
